
<!DOCTYPE html>
<html lang="en">
    <head>
    <div class="container">
        <a href="{{path('app_home')}}" class='btn btn-danger'>Back</a>
    </div>
    </head>
<body>
    
    {# <div style="text-align: center"><img src="images/logo.png" alt="BTEC" height="130px"></div> #}
   
    <div style="text-align:justify; padding: 1% 6%">
        <span style="color: #fa6e4f;">Introducing Figure model store</span> 
        <br>
        With the motto of satisfaction before receiving the next money, the Figure model always tries to bring a stable product price and ensure that there is a source of goods available to customers. Trying for customers is the motivation for the store to try to develop
        <br>
        <h4>Target</h4>
        <ul>
            <li>Bring quality products</li>
            <li>Transparent business</li>
            <li>Price by market</li>
            <li>Dedicated customer care</li>
            <div style="text-align: center"><img src="images/mu.png.jpg" alt="", height="150px  "></div>
        </ul>
        <h4>Special</h4>
        <ul>
            <li>The items already available at the shop that the market value has increased by 3 times, the shop will still keep the price fixed and committed to customers who do not wear product prices up to the market. (There have been many customers in the market to verify and evaluate our services well)</li>
            <li>The direction of the Figure model is to always sell at competitive prices and the best in the market of Vietnam's Figure model, not to virtual prices or padded prices for customers or create virtual reputation.</li>
            <li>We always have the concept of buying and selling must be transparent so it will have the listing price of the store and not up and down abnormally. (Except for product promotions for loyal customers of the shop)</li>
            <li>Always put the core value of the shop is the prestige and belief in price</li>
            <li>All customers coming to the Figure model will have the constant promotion policies and their own interests.</li>
            <div style="text-align: center"><img src="images/mu.png.jpg" alt="", height="150px  "></div>
        </ul>
        <span style="color: #fa6e4f;">Always have the mind at work because we are the same people who share the same hobby of collecting like you!</span>
        <h4>Figure model is the leading shop in the field of manga - anime.</h4>
        <ul>
            <li>If you are one of the followers of manga or anime series, then definitely can not ignore your favorite characters, desire to own and see every day is also a way to relieve the very good mood. , the characters have been associated with your childhood such as Detective Conan, a cat from Tuong Lai Doreamon, and the characters in the famous series One Piece, Dragon Ball Z, .... And there are many characters in other series such as Gintama, Kimetsu no Yaiba, Sao, Tokyo Ghoul, .. v ..,
                 And if you are a fan of pixar, Disney cartoons: Toystory, Incredible, Wall-E, Ice Age, ... or blockbuster Hollywood movies such as Batman, Avenger, Ironman, Hulk, .. then you do not nor It can be ignored because all are available at Figure Store
                
                And if you are a fan of famous movies from Hollywood such as Mavell, DC or other famous films, it is impossible to ignore us, because in the Figure model, all famous people are available. Now!</li>
        <div style="text-align: right"><i>https://storefiguree.com/</i></div>
        <h4>Please Like Shop at the address</h4>
        <ul>
        <li>Facebook : https://www.facebook.com/storefiguree To always update the fastest new Figure product.</li>
        <li>Or visit the shop's address at: CMT8 street, Can tho </li>
        <li>Get free ship in Ho Chi Minh City (2km radius) (applicable to orders over 200,000).</li>
        <li>With orders on the website, the shop will call to confirm the order and notify the ship fee to the customer, the goods will be after the customer agrees with the ship fee.</li>
        <li>Ship COD nationwide, reasonable delivery.</li>
        </ul>
        
    </div>
</body>
<footer>
    
</footer>
</html>